events {
    worker_connections  1024;
}

http {
    server {
        listen 80;

        location / {
            proxy_pass http://{{ joplin["app"]["url"] }}:{{ joplin["app"]["port"] }};
            proxy_set_header Host {{ joplin["app"]["url"] }}:{{ joplin["app"]["port"] }};
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
            proxy_set_header X-Forwarded-Port $server_port;
            proxy_set_header X-Forwarded-Host $host;
            client_max_body_size 400M;
        }
    }
}
