services:
  db:
    restart: unless-stopped
    image: postgres:13.1
    ports:
      - "{{ joplin["pg"]["port"] }}:{{ joplin["pg"]["port"] }}"
    volumes:
      - /data/joplin-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD={{ joplin["pg"]["password"] }}
      - POSTGRES_USER={{ joplin["pg"]["user"] }}
      - POSTGRES_DB={{ joplin["pg"]["db"] }}
  app:
    environment:
      - APP_BASE_URL={{ joplin["app"]["base_url"] }}
      - APP_PORT=22300
      - POSTGRES_PASSWORD={{ joplin["pg"]["password"] }}
      - POSTGRES_DATABASE={{ joplin["pg"]["db"] }}
      - POSTGRES_USER={{ joplin["pg"]["user"] }}
      - POSTGRES_PORT={{ joplin["pg"]["port"] }}
      - POSTGRES_HOST=db
      - DB_CLIENT={{ joplin["pg"]["db"] }}
    restart: unless-stopped
    image: etechonomy/joplin-server:latest
    depends_on:
        - db
    ports:
      - "{{ joplin["app"]["port"] }}:{{ joplin["app"]["port"] }}"
  nginx:
    image: nginx:1.16.0-alpine
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "{{ joplin["nginx"]["port"] }}:{{ joplin["nginx"]["port"] }}"
