services:
  db:
    restart: unless-stopped
    image: postgres:13.1
    ports:
      - "{{ joplin["pg"]["port"] }}:{{ joplin["pg"]["port"] }}"
    volumes:
      - /data/joplin-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD={{ joplin["pg"]["password"] }}
      - POSTGRES_USER={{ joplin["pg"]["user"] }}
      - POSTGRES_DB={{ joplin["pg"]["db"] }}
  app:
    environment:
      - APP_BASE_URL={{ joplin["app"]["base_url"] }}
      - APP_PORT={{ joplin["app"]["port"] }}
      - POSTGRES_PASSWORD={{ joplin["pg"]["password"] }}
      - POSTGRES_DATABASE={{ joplin["pg"]["db"] }}
      - POSTGRES_USER={{ joplin["pg"]["user"] }}
      - POSTGRES_PORT={{ joplin["pg"]["port"] }}
      - POSTGRES_HOST=db
      - DB_CLIENT={{ joplin["pg"]["db"] }}
    restart: unless-stopped
    image: etechonomy/joplin-server:latest
    depends_on:
        - db
    ports:
      - "{{ joplin["app"]["port"] }}:{{ joplin["app"]["port"] }}"
  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/joplin.conf:ro
      - ./certbot/conf/:/etc/nginx/ssl/:ro
      - ./certbot/www/:/var/www/certbot/:ro
    depends_on:
      - app
    ports:
      - "{{ joplin["nginx"]["http-port"] }}:{{ joplin["nginx"]["http-port"] }}"
      - "{{ joplin["nginx"]["https-port"] }}:{{ joplin["nginx"]["https-port"] }}"
  certbot:
    depends_on:
      - nginx
    image: certbot/certbot:latest
    volumes:
      - ./certbot/www/:/var/www/certbot/:rw
      - ./certbot/conf/:/etc/letsencrypt/:rw