127.0.0.1       localhost
::1             localhost ip6-localhost ip6-loopback
ff02::1         ip6-allnodes
ff02::2         ip6-allrouters

127.0.1.1       {{ ansible_facts['nodename'] }}
192.168.178.200 leonardo
192.168.178.201 donatello
192.168.178.202 michelangelo
192.168.178.203 raphaelo
